# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Facultate\An 2 - Sem 1\Programare Orientata pe Obiecte (POO)\Laborator\Workspace\oop_lab\People\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
